<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"
    />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/aui/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
    <!--css-->
    <style media="screen">
      .fixedHeader {
        padding-top: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
      }

      .reserveList {
        margin: 0rem 0.75rem;
      }

      .reserveList .reLi {
        margin: 0.5rem 0;
        background: white;
        border-radius: 0.3rem;
      }

      .reLi > .line1 {
        line-height: 1.5rem;
        border-bottom: 1px dashed #d5d5d5;
      }

      .line1 .name {
        display: inline-block;
        padding: 0 0.5rem;
        color: #5891f5;
      }

      .line1 .date {
        display: inline-block;
        padding: 0 0.5rem;
        color: #777;
        float: right;
      }

      .line1 img {
        width: 1rem;
        display: inline-block;
        float: right;
        padding-top: 0.2rem;
      }

      .reLi .line2 {
        padding: 0.5rem;
        position: relative;
        color: #777;
      }

      .reLi .line2 span {
        color: rgb(33, 33, 33);
      }

      .line2 img {
        position: absolute;
        width: 3rem;
        right: 1rem;
        top: 0.8rem;
      }
    </style>
  </head>
  <body ontouchstart class="bodyBc">
    <header class="aui-bar aui-bar-nav aui-bar-info fixedHeader">
      <a class="aui-pull-left aui-iconfont aui-icon-left button-active2"
         style="width: 45px;"
         tapmode onclick="closeWin()"></a>
      <div class="aui-title" id="title">我的预约</div>
      <a class="aui-pull-right" tapmode id="text"></a>
    </header>
    <div id="place">
      <div style="height: 2.25rem;"></div>
    </div>
    <ul class="reserveList" id="reserveList"></ul>
    <div class="aui-text-center loadAll aui-hide" id="loadAll"><span>没有更多数据了</span></div>
    <div class="aui-text-center loadAll aui-hide" id="dataNull"><span>没有数据</span></div>
  </body>
  <script type="text/javascript" src="../../script/api.js"></script>
  <script type="text/javascript" src="../../script/jquery.js"></script>
  <script type="text/javascript" src="../../script/template.js"></script>
  <script type="text/javascript" src="../../script/tool.js"></script>
  <script type="text/javascript" src="../../config.js"></script>
  <script type="text/html" id="tpl-reserveList">
    {{each data as value index}}
    <li class="reLi" data-id="{{value.id}}">
      <div class="line1">
        <div class='name'>{{value.status==0?'待处理':value.status==1?'已被接单':'订单完成'}}</div>
        <div class="date">{{value.serviceTime}}</div>
        <img src="../../image/clock.png" alt="">
      </div>
      <div class="reInfo line2">
        <div class="info_1">服务类型:<span>&nbsp;{{value.servicename}}</span></div>
        <div class="info_2">服务方式:<span>&nbsp;{{value.type}}</span></div>
        <div class="info_3">车主车型:<span>&nbsp;{{value.carInfo}}</span></div>
      </div>
    </li>
    {{/each}}
  </script>
  <script type="text/html" id="tpl-one">
    {{ each data as info index }}
    <li class="reLi" data-id="{{info.id}}">
      <div class="line1">
        <div class='name'>{{info.status == 0 ? '待处理' : info.status == 1 ? '已被接单' : '订单完成'}}</div>
        <div class="date">{{info.serviceTime}}</div>
        <img src="../../image/clock.png" alt="">
      </div>
      <div class="reInfo line2">
        <div class="info_1">服务类型:<span>&nbsp;{{info.servicename}}</span></div>
        <div class="info_2">服务方式:<span>&nbsp;{{info.type}}</span></div>
        {{ if info.form == 0 }}
        <div class="info_3">客户电话:<span>&nbsp;<a class="button-active" style="color: #3a76f1" href="tel:{{info.phone}}">{{info.phone}}</a></span>
        </div>
        {{ /if }}
        {{ if info.form != 0 }}
        <div class="info_3">店家地址:<span>&nbsp;info.address</span>
        </div>
        {{ /if }}
      </div>
    </li>
    {{ /each }}
  </script>
  <!--js-->
  <script type="text/javascript">
    apiready = function () {
      var header = $api.dom('header');
      $api.fixStatusBar(header);
      $api.fixStatusBar($api.dom('#place'));
      var priceArr = [
        {
          priceStart: "",
          priceEnd: "",
        }, {
          priceStart: 0,
          priceEnd: 5,
        }, {
          priceStart: 5,
          priceEnd: 10,
        }, {
          priceStart: 10,
          priceEnd: 15,
        }, {
          priceStart: 15,
          priceEnd: 20,
        }, {
          priceStart: 20,
          priceEnd: 25,
        }, {
          priceStart: 25,
          priceEnd: "",
        }
      ];
      var Home = function () {
        this.cityId = '';
        this.title = '';
        this.page = 0;
        this.pagesize = 10;
        this.maxPage = 0;
        this.total = 0;
        this.priceId = 0;
        this.sort = 'default';
        this.brandId = '';
        this.init();
      };
      Home.prototype = {
        init: function () {
          this.addEventListener();
          this.getData();
          // this.loadMore();
          // this.refresh();
          // this.setDefaultSearch();
          // this.chooseCity();
          // this.chooseSortType();
          // this.choosePrice();
          // this.selectInit();
        },
        addEventListener: function () {
          var self = this;
          api.addEventListener({
            name: 'chooseCity'
          }, function (ret, err) {
            $('#cityChoose').text(ret.value.city);
            self.resetList();
          });
          api.addEventListener({
            name: 'chooseCar'
          }, function (ret, err) {
            $('#select li[data-select="select_3"]').html(ret.value.carInfo.city == "#全部" ? "品牌" : ret.value.carInfo.city + '&ensp;');
            self.brandId = ret.value.carInfo.id;
            self.resetList();
          });

        },
        getData: function () {
          var self = this;
          api.showProgress();
          api.ajax({
            url: SERVER_PATH + 'Agency/ownService',
            method: 'post',
            data: {
              values: {
                AccessToken: $api.getStorage('token'),
                id: $api.getStorage('userId')
              },
              files: {}
            }
          }, function (ret, err) {
            api.hideProgress();
            if (ret) {
              if (ret.code == 0 && ret.data && ret.data.length) {
                self.total = ret.recordsTotal;
                self.maxPage = Math.ceil(ret.recordsTotal / self.pagesize);
                self.drawData(ret.data);
              }
              else {
                $('#dataNull').removeClass('aui-hide');
              }
            }
            else {
              Tool.toastInfo(errMsg);
            }
          });
        },
        drawData: function (data) {
          //$('#reserveList').append(template('tpl-reserveList', {"data": data}));
          //this.viewReserveInfo();
          var html = '';
          var info = '';
          for (var i = 0; i < data.length; i++) {
            info = data[i];
            // info.phone = '<a class="button-active" style="color: #3a76f1" href="tel:' + info.phone + '">' + info.phone + '</a>';
            // html += `<li class="reLi" data-id="${info.id}">
            //           <div class="line1">
            //             <div class='name'>${info.status == 0 ? '待处理' : info.status == 1 ? '已被接单' : '订单完成'}</div>
            //             <div class="date">${info.serviceTime}</div>
            //             <img src="../../image/clock.png" alt="">
            //           </div>
            //           <div class="reInfo line2">
            //               <div class="info_1">服务类型:<span>&nbsp;${info.servicename}</span></div>
            //               <div class="info_2">服务方式:<span>&nbsp;${info.type}</span></div>
            //               <div class="info_3">${info.form == 0 ? '客户电话:' : '店家地址:'}<span>&nbsp;${info.form == 0 ? info.phone : info.address}</span></div>
            //           </div>
            //       </li>`;
            html += template('tpl-one', {data: [info]});
          }
          $('#reserveList').html(html);
        },
        loadMore: function () {
          var self = this;
          Tool.loadMore(function () {
            if (self.maxPage && self.total) {
              if (parseInt(self.page + 1) < parseInt(self.maxPage)) {
                self.page++;
                self.getData();
              } else {
                $('#loadAll').removeClass('aui-hide');
              }
            }
          });
        },
        refresh: function () {
          var self = this;
          Tool.refreshPage(function () {
            self.resetList();
          });
        },
        resetList: function () {
          this.page = 0;
          this.maxPage = 0;
          $('#loadAll').addClass('aui-hide');
          $('#dataNull').addClass('aui-hide');
          $('#carList').html('');
          this.getData();
        },
        viewReserveInfo: function () {
          $('.reLi').off('click').on('click', function () {
            var _id = $(this).data('id');
            Tool.openWin({
              url: '/html/reserve/reserve-details.html',
              param: {
                id: _id
              }
            });
          });
        }
      };
      new Home();
    };
  </script>
</html>
